<%- include("partials/header"); -%>
<h1>Compose</h1>
<form class="" action="/compose" method="post">
  <div class="form-group">
    <label for="postTitle">Title</label>
    <input type="text" id="postTitle" class="form-control" name="postTitle" autocomplete="off" autofocus>
    <label for="post">Post</label>
    <textarea name="postBody" rows="5" class="form-control" id="post"></textarea>
  </div>

  <button type="submit" name="button" class="btn btn-primary">Publish</button>
  <a href="/" class="btn btn-primary">Back</a>
</form>
<%- include("partials/footer"); -%>
